<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galery D.V.</title>
    <link rel="stylesheet" href="/styles.css" >
</head>
<body>

    <nav class="navbar-general">
        <a class="nav-btn"  href="/views/about.html">About</a>
        <a class="nav-btn"  href="/views/works.html">Works</a>
        <a class="nav-btn" href="/views/galery.html">Galery</a>
    </nav>

    <h1 id="galery-title">Dorothy Vaughan</h1>

    <div id="imgContainer">
        <img src="/images/DV2.jpg" alt="Image of Dorothy Vaghan">
        <img src="/images/DV1.webp" alt="Image of Dorothy Vaghan">
    </div>

</body>
</html>