<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works of D.V.</title>
    <link rel="stylesheet" href="/styles.css" >
</head>
<body>

<nav class="navbar-general">
    <a class="nav-btn"  href="/views/about.html">About</a>
    <a class="nav-btn"  href="/views/works.html">Works</a>
    <a class="nav-btn" href="/views/galery.html">Galery</a>
</nav>
    
    <div id="works-container">
    <div id="works-border">
        <h2>Works</h2>
 <p>In 1943 Vaughan started to work at NACA, which in 1935 had established a section of women mathematicians, who performed complex calculations. Vaughan was assigned to the West Area Computers of the Langley Research Center in Hampton, Virginia. This segregated group consisted of African-American women who made complex mathematical calculations by hand, using tools of the time.<br>
    <br>
    Their work expanded in the postwar years to support research and design for the United States' space program, which was emphasized under President John F. Kennedy. Vaughan moved into the area of electronic computing in 1961, after NACA introduced the first digital (non-human) computers to the center. Vaughan became proficient in computer programming, teaching herself FORTRAN and teaching it to her coworkers to prepare them for the transition. She contributed to the space program through her work on the Scout Launch Vehicle Program.
    <br><br>
    In 1949, Vaughan was assigned as the acting head of the West Area Computers, taking over from a white woman who had died. She was the first Black supervisor at NACA and one of few female supervisors. She led a group composed entirely of African-American women mathematicians. She served for years in an acting role before being promoted officially to the position as supervisor. Vaughan worked for opportunities for the women in West Computing as well as women in other departments.
    <br><br>
    Seeing that machine computers were going to be the future, she taught the women programming languages and other concepts to prepare them for the transition. Mathematician Katherine Johnson was initially assigned to Vaughan's group, before being transferred to Langley's Flight Mechanics Division.</p>
 
    </div>
    </div>
    
</body>
</html>