body{
    margin: 0;
}

#welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-header img {
   height: 90vh;
   width: 100%;
   object-position: left;
   object-fit: cover;
   z-index: -100;
   position: relative;
}

#welcome-header h1 {
    position: absolute;
    color: white;
    top: 10vh;
    text-transform: uppercase;
    font-size: 7vh;
}

#nav-bar {
    position: absolute;
}

#nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    text-transform: uppercase;
}

.nav-btn{
    border: 2px solid rgba(243, 180, 79, 0.966);
    padding: 2vw;
    margin: 2vw; 
    
}

.nav-btn:hover{
    background-color: rgba(243, 180, 79, 0.966);
    transition: 0.5s;
}

#works-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#works-border{
    margin: 6vh 0px;
    border: 4px solid rgba(243, 180, 79, 0.966);
    padding: 5vw;
}

#works-container h2 {
text-align: center;
text-transform: uppercase;
text-decoration: underline;
}

#works-container p {
    width: 80vw;
   
}

.navbar-general{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2vh;
}

.navbar-general a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 2vh;
} 

#imgContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#galery-title {
    text-align: center;
    text-transform: uppercase;
}


#imgContainer img {
    padding: 2vh;
}